QWidget#windowBaseCentralWidget {
    background-color: #f2f2f2;
    border-radius: 9px;
}

QWidget#windowTtitleBase {
    background-color: #f2f2f2;
    border-radius: 9px;
}

QLabel#windowTitleBaseNameLabel {
    font-weight: bold;
}

QPushButton#windowTitleBaseMinimizeBtn, QPushButton#windowTitleBaseMaximizeBtn, QPushButton#windowTitleBaseCloseBtn {
    background-color: transparent;
    border: none;
}